:root {
  padding: 0;
  margin: 0; 
  box-sizing:border-box;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('/public/binary_background.jpeg');
  width: 100vw;
  height: 100vh;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 100%;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

/* ******************** */
/* Tab Styling */
/* ******************** */
.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.tab {
  border: 1px solid black;
  color: black;
  background-color: white;
  width: 33%;
  cursor: pointer;
  text-align: center;
  padding: 1.7rem 0;
}

.tab-selected {
  background-color: limegreen;
}

.tab-disabled {
  background-color: lightgrey;
  color: black;
  cursor: not-allowed;
}