:root {
  padding: 0;
  margin: 0; 
  box-sizing:border-box;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('/public/binary_background.jpeg');
  min-height: 100vh;
  width: 100vw;
  height: 100%;
}

.display-container {
  text-align: center;
  background-color: white;
  width: 60%;
  min-height: 100vh;
  height: 100%;

  @media screen and (max-width: 1150px) {
    width: 66%;
  }

  @media screen and (max-width: 900px) {
    width: 75%;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

/* ******************** */
/*      Tab Styling     */
/* ******************** */
.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.tab {
  border: 5px solid black;
  color: black;
  background-color: white;
  width: 33%;
  cursor: pointer;
  text-align: center;
  padding: 1.7rem 0;
  /* Need to figure out transitions for adding tab-selected */
}

.tab-selected {
  background-image: linear-gradient(to left, black, limegreen);
  color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;

}

.tab-disabled {
  background-color: lightgrey;
  color: black;
  cursor: not-allowed;
}

/* ******************** */
/*   Output Styling     */
/* ******************** */

.output-container {
  background-color: black;
  border-radius: 15px;
  color: white;
  margin: 0 auto;
  width: 600px;
  min-height: 300px;
  text-align: left;
  padding: 10px 0;
}

.output-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid white;
  padding: 1rem 0 1rem 1rem;
}

.output-body {
  padding: 1rem;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 .3rem;
}

.close {
  background-color: red;
}

.minimize {
  background-color: yellow;
}

.open {
  background-color: green;
}

/* ******************** */
/*  Settings Styling    */
/* ******************** */

settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settings-radio-container > input {
  margin-left: 3rem;
}

/* ******************** */
/*    Theme Styling     */
/* ******************** */

.default {}

.dark {}

.retro {}

.pixie {}

/* ******************** */
/*   Utility Styling    */
/* ******************** */
.text-bold {
  font-weight: 900;
}

.button {
  font-size: 1.7rem;
  color: white;
  background-color: black;
  border: 2px solid limegreen;
  padding: 1rem 3rem;
  margin: 1rem auto;
  width: 250px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.button:hover,
.button:active {
  color: limegreen;
}

.button:active {
  transform: translateY(2px);
}

h1 { 
  font-size: 3rem;
}

h3 { 
  font-size: 2rem;
}